<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>奈良高専祭2018</title>

    <!-- Vue.js -->
    <script src="js/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- 
        まったくCTFしないCTF
        後夜祭プログラム
        -> https://www.nara-k.ac.jp/kousensai/
           にFLAGの中身を張り付けてクリック
     -->
</head>

<body class="body">
    <div id="page" class="container">
        <!-- top -->
        <div id="top" class="contents">
            <div class="title row">
                <div style="z-index: 1; position: relative;">
                    <h2 style="opacity: 0.3;">第52回奈良高専祭</h2>
                    <h1 style="opacity: 0.3;" class="thema">熱狂！ウルトラ高専祭！</h1>
                </div>
                <div class="" style="margin-top: -90px; z-index: 2; position: relative; transform: rotate(-20deg);">
                    <h3 class="t-cream" style="-webkit-text-stroke: 0.2px var(--red);">第52回奈良高専祭は終了しました<br>ご来場いただきありがとうございました</h3>
                </div>
            </div>
            <div class="arrow-down">
                <img src="images/icon/angle-down-solid.svg">
            </div>
        </div>

        <!-- 高専祭当日写真 -->
        <div id="#fes" class="contents">
            <h3 class="title"><img class="title-icon" src="images/icon/flag-solid.svg" alt="icon"> 高専祭当日</h3>
            <div v-for="(value) in fes">
                <div class="card cream" style="opacity: 0.9; border: solid 6px var(--yellow);">
                    <img v-bind:src="'./images/' + value.images" alt="" class="fes-imag">
                </div>
            </div>
        </div>

        <!-- about -->
        <div id="about" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/code.svg" alt="icon"> 高専祭について</h3>
            <div class="card cream" style="opacity: 0.9; border: solid 6px var(--blue);">
                <div class="card-body">
                    <h4 class="card-title t-blue">
                        実行委員長あいさつ
                    </h4>
                    <!-- <h6 class="card-subtitle mb-2 text-muted t-grai">場所：</h6> -->
                    <div>

                    </div>
                    <p class="card-text t-grai" style="display: inline;">
                        <span class="t-grai" style="display: inline;">
                            <div class="row">
                                <div style="color: var(--cream); font-size: 1.1em; " class="col-lg-5 t-grai">
                                    <div class="t-grai">
                                        <p class="speech">&emsp;今年度の高専祭実行委員長の中満悠人です。 このたびは奈良高専祭公式サイトをご覧いただき、ありがとうございます。 高専祭では学生主体で行われる様々な企画を用意しています。
                                            <br> &emsp;体育館内ステージでは軽音楽部や吹奏楽部による演奏や高専祭実行委員会によるステージ企画を行います。屋内の教室では各学科、クラブ団体の様々な特徴のある展示物や実験体験コーナーなどがある学科展が開催されます。屋外には各クラブ、同好会、各クラスなどの団体が出店している模擬店が並びます。学生だけでなく近隣にお住まいの方々、
                                            子どもからお年寄りまで楽しめるお祭りになっております。
                                            <br>&emsp;今年の高専祭のテーマは「<span class="thema" style="font-size: 1.4em; text-shadow: 0.5px 0.5px 0.5px var(--grai);">熱狂！ウルトラ高専祭！</span>」に決まりました。皆さんに熱狂して楽しんでいただけるよう、
                                            私たちも努力を惜しまず準備を進めてまいります。みなさまのご来場を心よりお待ちしております！
                                        </p>
                                        <h4 class="card-title t-blue">
                                            開催日時
                                        </h4>
                                        2018年11月3日(土)&emsp;11:00 ~ 15:30<br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;4日(日)&emsp;09:00
                                        ~ 15:30
                                    </div><br>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="bs-component">
                                                <div class="alert alert-dismissible alert-warning">
                                                    <!-- <h4 class="alert-heading">ご注意!</h4> -->
                                                    <p class="mb-0">※校内に駐車場は設置しておりません。ご来場の際には公共交通機関等をご利用ください。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <h4 class="card-title" style=" color: var(--red);">今年度の高専祭ポスターです！</h4> -->
                                    <br>
                                </div>
                                <div class="col-lg-7" style="text-align: center; width: 100%;">
                                    <img src="images/poster/s_poster.png" alt="poster" class="poster"><br>
                                    <p>illustrated by <a href="https://nnct-mvccc.sakura.ne.jp/" target="_blank">現代視覚文化研究会</a></p>
                                    <div class="" style="border: solid 0px var(--purple);">
                                        <a href="#download" class="icon-label" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="download">
                                            <img class="title-icon" src="images/icon/download-solid.svg" alt="icon">
                                            <br>Download
                                        </a>
                                    </div><br>
                                    <div id="download" class="row collapse" data-toggle="download">
                                        <div class="t-grai col-lg-12" style="display: inline-flex; width: 100%; text-align: center;">
                                            <div style="width: 100%;display: inline-flex;">
                                                <div style="width: 50%;">
                                                    <a href="images/poster/poster.png" target="_blank">
                                                        <img class="title-icon" src="images/icon/file-image.svg" alt="icon"><br>
                                                        <span class="icon-label">PNG</span>
                                                    </a>
                                                </div>
                                                <div style="width: 50%;">
                                                    <a href="images/poster/poster.pdf" target="_blank">
                                                        <img class="title-icon" src="images/icon/file-pdf.svg" alt="icon"><br>
                                                        <span class="icon-label">PDF</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <!-- 高専祭実行委員会 -->
        <div id="committee" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/users.svg" alt="icon"> 高専祭実行委員会</h3>
            <div v-for="(value) in committee">
                <div class="card cream" style="opacity: 0.9; border: solid 6px var(--purple);">
                    <div class="card-body">
                        <h4 class="card-title t-purple">
                            {{ value.name }}
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted t-grai">場所：{{ value.place }}</h6> -->
                        <p class="card-text t-grai" v-for="(value) in value.contents" style="display: inline;">
                            <span v-if="value.type == '##'" class="t-grai" style="font-weight: bold; color: var(--pink)">
                                {{ value.contents }}<br>
                            </span>
                            <span v-else="value.type == ''" class="t-grai" style="display: inline;">
                                {{ value }}<br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 学科展示 -->
        <div id="depart_exhibition" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/desktop.svg" alt="icon"> 学科展</h3>
            <div v-for="(value) in depart">
                <div class="card cream" v-bind:style="{ border: 'solid 6px var(' + value.color + ')'}" style="opacity: 0.9;">
                    <div class="card-body">
                        <h4 class="card-title" v-bind:style="{ color: 'var(' + value.color + ')'}">{{ value.name }}</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted t-grai">場所：{{ value.place }}</h6> -->
                        <p class="card-text t-grai" v-for="(value) in value.contents">{{ value }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 一般展示 -->
        <div id="exhibition" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/puzzle-piece.svg" alt="icon"> その他展示</h3>
            <div v-for="(value) in exhibition">
                <div class="card cream" style="opacity: 0.9; border: solid 6px var(--yellowgreen);">
                    <div class="card-body">
                        <h4 class="card-title t-orange">
                            {{ value.name }}
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted t-grai">場所：{{ value.place }}</h6> -->
                        <p class="card-text t-grai" v-for="(value) in value.contents" style="display: inline;">
                            <span v-if="value.type == '##'" class="t-grai" style="font-weight: bold; color: var(--pink)">
                                {{ value.contents }}<br>
                            </span>
                            <span v-else="value.type == ''" class="t-grai" style="display: inline;">
                                {{ value }}<br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 模擬店 -->
        <div id="food" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/coffee.svg" alt="icon"> 模擬店</h3>
            <div v-for="(value) in food">
                <div class="card cream" style="opacity: 0.9; border: solid 6px var(--pink);">
                    <div class="card-body">
                        <h4 class="card-title t-orange">
                            {{ value.name }}
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted t-grai">{{ value.club }}</h6>
                        <p class="card-text t-grai" v-for="(value) in value.contents" style="display: inline;">
                            <span v-if="value.type == '##'" class="t-grai" style="font-weight: bold; color: var(--red)">
                                {{ value.contents }}<br>
                            </span>
                            <span v-else="value.type == ''" class="t-grai" style="display: inline;">
                                {{ value }}<br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 企画 -->
        <div id="plan" class="contents">
            <h3 class="titlle"><img class="title-icon" src="images/icon/dice.svg" alt="icon"> 企画@第１体育館</h3>
            <div class="card cream t-grai container" style="opacity: 0.9; border: solid 6px var(--orange);">
                <h4 class="table-title card-title">１日目（土曜日）</h4>
                <table class="table container">
                    <thead class="t-body">
                        <tr>
                            <th>時間</th>
                            <th>企画</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value) in plan.first">
                            <td> {{ value.time }}~ </td>
                            <td> {{ value.name }} </td>
                        </tr>
                    </tbody>
                </table><br>
                <h4 class="table-title card-title">２日目（日曜日）</h4>
                <table class="table container">
                    <thead class="t-body">
                        <tr>
                            <th>時間</th>
                            <th>企画</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value) in plan.second">
                            <td> {{ value.time }}~ </td>
                            <td> {{ value.name }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- アクセス -->
        <div id="access" class="">
            <h3 class="titlle"><img class="title-icon" src="images/icon/subway.svg" alt="icon"> アクセス</h3>
            <div class="card cream" style="opacity: 0.9; border: solid 6px var(--red);">
                <div class="card-body">
                    <div class="card-text t-grai" style="display: inline;">
                        <div class="t-grai" style="display: inline;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="bs-component">
                                        <div class="alert alert-dismissible alert-warning">
                                            <h4 class="alert-heading">ご注意!</h4>
                                            <p class="mb-0">※校内に駐車場は設置しておりません。ご来場の際には公共交通機関等をご利用ください。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13129.054600126616!2d135.757263!3d34.648044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4d6a42a78fc15f0!2z5Zu956uLIOWliOiJr-W3pealremrmOetieWwgumWgOWtpuagoQ!5e0!3m2!1sja!2sjp!4v1539353287835"
                                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card">
                                        <div class="card-header">公共交通</div>
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: var(--red);">近鉄郡山駅よりお越しの場合</h4>
                                            <p class="card-text" style="color: var(--grai);">
                                                「近鉄郡山駅」バス停より、奈良交通「大和小泉駅東口」または「矢田寺」行きバスにご乗車いただき「奈良高専」にて下車してください。
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: var(--red);">JR大和小泉駅よりお越しの場合</h4>
                                            <p class="card-text" style="color: var(--grai);">
                                                「大和小泉駅東口」バス停より、奈良交通「近鉄郡山駅」行きバスにご乗車いただき「奈良高専」にて下車してください。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 後夜祭 -->
        <div id="nigth_fes" class="container" style="margin-top: 50px; display: none;">
            <h3 class="titlle"><img class="title-icon" src="images/icon/dice.svg" alt="icon"> 後夜祭</h3>
            <div class="card cream t-grai container" style="opacity: 0.9; border: solid 6px var(--yellow);">
                <h4 class="table-title card-title">１日目（土曜日）</h4>
                <table class="table container">
                    <thead class="t-body" style="background-color: var(--yellow);">
                        <tr>
                            <th>時間</th>
                            <th>企画</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value) in night.first">
                            <td> {{ value.time }}~ </td>
                            <td> {{ value.name }} </td>
                        </tr>
                    </tbody>
                </table><br>
                <h4 class="table-title card-title">２日目（日曜日）</h4>
                <table class="table container">
                    <thead class="t-body" style="background-color: var(--yellow);">
                        <tr>
                            <th>時間</th>
                            <th>企画</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value) in night.second">
                            <td> {{ value.time }}~ </td>
                            <td> {{ value.name }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <a href="#">
                <button type="button" class="btn btn-secondary btn-lg btn-block">
                    戻る
                </button>
            </a>
        </div>
        <br>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy;高専祭実行委員会2018<br>Created by <a href="https://joken.nara-k.ac.jp" target="_blank">情報処理研究会</a></p>
            </div>
        </footer>
    </div>

    <!-- MenuBar -->
    <div class="menu row" style="z-index: 3">
        <div id="menu" style="animation: rotate-anime 32400s linear infinite;">&emsp;</div>
        <div class="menu-bar-list">
            <div class="menu-bar-o">
                <a id="menu-bar-o" data-toggle="collapse" href="#menu-bar" role="button" aria-expanded="true" aria-controls="menu-bar">
                    <img class="title-icon" src="images/icon/bars.svg" alt="icon" class="collapse show">
                    <!--<p class="icon-label">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p> -->
                </a>
            </div>
            <div data-toggle="menu-bar" id="menu-bar" class="collapse" style="">
                <div class="row menu-list-p">
                    <div class="col-sm-12">
                        <div class="row">
                            <div style="width: 95%; margin-left: 45px;">
                                <div class="row">
                                    <div class="col-xs-3 menu-item">
                                        <a href="#about" class="menu-list">
                                            <img class="title-icon" src="images/icon/code.svg" alt="icon">
                                            <p class="icon-label">About</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 menu-item">
                                        <a href="#committee" class="menu-list">
                                            <img class="title-icon" src="images/icon/users.svg" alt="icon">
                                            <p class="icon-label">実行委員会</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 menu-item">
                                        <a href="#depart_exhibition" class="menu-list">
                                            <img class="title-icon" src="images/icon/desktop.svg" alt="icon">
                                            <p class="icon-label">学科展</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 menu-item">
                                        <a href="#exhibition" class="menu-list">
                                            <img class="title-icon" src="images/icon/puzzle-piece.svg" alt="icon">
                                            <p class="icon-label">その他展示</p>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#depart_exhibition" class="menu-list">
                                            <img class="title-icon" src="images/icon/desktop.svg" alt="icon">
                                            <p class="icon-label">学科展</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#exhibition" class="menu-list">
                                            <img class="title-icon" src="images/icon/puzzle-piece.svg" alt="icon">
                                            <p class="icon-label">その他展示</p>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-xs-3 menu-item">
                                        <a href="#food" class="menu-list">
                                            <img class="title-icon" src="images/icon/coffee.svg" alt="icon">
                                            <p class="icon-label">模擬店</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 menu-item">
                                        <a href="#plan" class="menu-list">
                                            <img class="title-icon" src="images/icon/dice.svg" alt="icon">
                                            <p class="icon-label">企画</p>
                                        </a>
                                    </div>
                                    <div class="col-xs-3 menu-item">
                                        <a href="#access" class="menu-list"><img class="title-icon" src="images/icon/subway.svg"
                                                alt="icon">
                                            <p class="icon-label">アクセス</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS Load -->
    <!-- jQuery -->
    <script src="js/jquery-3.3.1.min.js"> </script>
    <!-- popper.js -->
    <script src="js/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>

    <script type="text/javascript">
    </script>

    <!-- FLAG is flag.js -->
</body>

</html>
